<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">
        <property name="jdbc.username" value="yaojiang"/>
    </properties>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!-- 给parameterType或resultType中的类型取别名，省取写全限定名的麻烦 -->
    <typeAliases>
        <typeAlias type="com.lurker.kaikeba.example.bean.User" alias="User"></typeAlias>
        <!--
        批量定义别名，别名默认为类名
        <package name=""></package>
        -->
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="DeptMapper.xml"/>
        <mapper resource="UserMapper.xml"/>
    </mappers>
</configuration>